
@font-face {font-family: "iconfont";
  src: url('http://at.alicdn.com/t/font_nkvnhugy48mjwcdi.eot?t=1478453360209'); /* IE9*/
  src: url('http://at.alicdn.com/t/font_nkvnhugy48mjwcdi.eot?t=1478453360209#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('http://at.alicdn.com/t/font_nkvnhugy48mjwcdi.woff?t=1478453360209') format('woff'), /* chrome, firefox */
  url('http://at.alicdn.com/t/font_nkvnhugy48mjwcdi.ttf?t=1478453360209') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('http://at.alicdn.com/t/font_nkvnhugy48mjwcdi.svg?t=1478453360209#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi:before { content: "\e600"; }

.icon-icon3:before { content: "\e607"; }

.icon-msnui-minimize:before { content: "\e6d7"; }

.icon-wrench:before { content: "\e6e2"; }

.icon-xiaoxi:before { content: "\e7f4"; }

.icon-feiji:before { content: "\e68a"; }

.icon-changyonggongju:before { content: "\e661"; }

.icon-dianpu:before { content: "\e660"; }

.icon-zuidahua:before { content: "\e689"; }

.icon-dingdan:before { content: "\e66e"; }

.icon-androidcloud:before { content: "\e668"; }

.icon-huanyuan:before { content: "\e603"; }

